altgraph==0.17
auto-py-to-exe==2.10.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
Eel==0.12.4
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
protobuf==3.17.3
psycopg2-binary==2.9.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==1.7.1
python-pip==0.30
pytz==2021.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.23
twilio==6.63.1
urllib3==1.26.6
Werkzeug==2.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
